.exchange-block{
    width: 100%;
    background: linear-gradient(to bottom, rgb(238, 237, 237), rgb(195, 192, 188));
    border: 1px solid rgb(236, 149, 9);
    border-radius: 0.5rem;
    .exchange-header{
        background: linear-gradient(to bottom, rgb(250, 84, 7), rgb(195, 192, 188));
        text-align: center;
        font-weight: bolder;
    }
    button{
        background: linear-gradient(to bottom, rgb(250, 84, 7), rgb(243, 142, 9));
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.25rem;
        padding: 5px 20px;
    }
    .arrow-image{
        img{
            width: 100%;
        }
        @media (max-width:992px) {
            img{
                height: 100px;
                width: auto;
            }
        }
    }
}