footer img {
  height: 50px;
}
footer {
  a {
    color: #ffffff;
    line-height: 2;
    text-decoration: none;
  }
  :hover {
    color: orange;
  }
}
li {
  list-style-type: none;
  a:hover{
      color: orange;
      border-bottom:2px solid orange;
  }
}
